In [1]:
# 1 write a python program to print "Hello, World!" ?

In [9]:
print("Hello, World!")

Hello, World!

In [ ]:
# 2 write a python program that displys your nanme and age?

In [13]:
print("My name is Roshan and i am 30 Years old")

My name is Roshan and i am 30 Years old

In [ ]:
# 3 write a code to print all type of krywords using keyword library ?

In [21]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [31]:
import keyword
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 4 Write a program that checks if a given word is a python keyword?

In [49]:
import keyword
a = 'And'
keyword.iskeyword(a)

False

In [59]:
a = 'and'
keyword.iskeyword(a)

True

In [ ]:
# 5 Create a list and tuple in python and demonstrate how attempting to change an element
# works differently for each?

In [26]:
# list
list = [2, 'Ram', 3+9j, True]
list

[2, 'Ram', (3+9j), True]

In [28]:
# Tupple

In [30]:
a= ('10,20,30')
a

'10,20,30'

In [ ]:
# 6 write a function to demanstrate the behaviour of mutable and immutable arguments?

In [73]:
# list (mutable)
list = [2, 'Ram', 3+9j, True]
list

[2, 'Ram', (3+9j), True]

In [77]:
list[2]

(3+9j)

In [79]:
list[2] = 89

In [83]:
list

[2, 'Ram', 89, True]

In [ ]:
# Tupple (imutable)

In [16]:
a= ('10,20,30')
a

'10,20,30'

In [24]:
a[3]= 50

TypeError: 'str' object does not support item assignment

In [ ]:
#8 write a program to demontrate a use of logocal operators

In [52]:
a = 5
b = 25
c = 30
if a > 0 and b > 0:
    print("The numbers are greater than 0")
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
The numbers are greater than 0

In [54]:
# 9  write a program to convert user input from string to integer, float and boolean types

In [69]:
string = '6'
num = int(6)
print(num)

6

In [83]:
type(6)

int

In [85]:
string = '6'
num = float(6.8)
print(num)

6.8

In [87]:
type(6.8)

float

In [89]:
s1 = '6'
s2 = '3'
s3 = '9'
if s1 > s2 and s3 > s1:
    print(True)

True

In [ ]:
#10 write a code to demonstrate a type casting with list elements

In [ ]:
# Python automatically converts 
# b to float 
b = 5.0
print(type(b)) 

# c to float as it is a float addition 
c = a + b 
print(c) 
print(type(c))
 
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

In [ ]:
# 11 write a program that checks if a number is Negative positive and zero

In [5]:
num = int(input("enter a number: "))
if num > 0:
    print("number is positive")
elif num == 0:
    print("number is zero")
else:
    print ("number is negative")

enter a number:  3

number is positive

In [7]:
# 12 write a loop to print number from 1 to 10

In [23]:
for a in range(1, 11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 13 write a python program to find the sum of all even numbers from 1 to 50

In [42]:
sum = 0
i = 2
while (i<=50):
    sum= sum+i
    i= i+2
print("the sum of even number is=",sum)

the sum of even number is= 650

In [ ]:
# 14 write a program to reverse a number using while loop in python

In [47]:
n = int(input("enter a number: "))
rev = 0
while (n>0):
    rev= (rev*10)+n%10
    n= n//10
print("reverse=",rev)

enter a number:  652

reverse= 256